
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container article-stub" id="articles_list">
    </div>

      <!-- Three columns of text below the carousel -->

        <!--   <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"> -->
        <script type="text/template" id='articles_template'>
          <div class="col-xs-6 col-xs-offset-3">
            <h2><a href=<%%= a_url %>><%%= header %></a></h2>
            <p><%%= subheader %></p>
            <p>
              <a class="btn btn-default" href="#" role="button">View article »</a>
              <a class="btn btn-default" href="#" role="button">Favorite »</a>
              <a class="btn btn-default" href="#" role="button">Archive »</a>
              <a class="btn btn-default" href="#" role="button">Delete »</a>
            </p>
          </div>
         </script>

<script>
  $(function(){
    console.log("hello world");
    var articles_with_user = <%== @articles_with_user.to_json %>;
    App.Initializer.Article(articles_with_user.articles, articles_with_user.user_id);
  });
</script>