<h1>Articles</h1>

<div id="saved_articles_container">
	<ul id="saved_articles_list"></ul>
</div>

<script type="text/template" id='saved_articles_template'>
  
  <h3>URL: <%%= a_url %> </h3>  
  <button data-action='destroy'>
    Delete
  </button>
  <button data-action="favorite">
    Star
  </button>
  <button data-action="archive">
    Archive
  </button>
</script>

<script>
$(function(){
  console.log("hello world");
  var myStuff = <%== @saved_articles.to_json %>;  
  App.Initialize(myStuff);
});
</script>