<%= @followers.to_json %>

<h1>Followers</h1>
<div id="followers_container">
	<ul id="followers_list"></ul>
</div>

<script type="text/template" id='follower_template'>
  <p><%%= first_name %></p>
  <p><%%= last_name %></p>    
  <button data-action="view">
    View
  </button>
</script>


<script>
$(function(){
  console.log("hello followers");
  var followers = <%== @followers.to_json %>;  
  // App.Initialize(followers);
});
</script>