<!-- Carousel
    ================================================== -->


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators --><!--
      Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div>
      <div class="carousel-inner">
        <div class="item">
          <img src="/assets/dead_leaves.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Read the content you want at the time you want.</h1>
              <p>Leaf lets you save.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/barnyard.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Read the best content on your own time.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="/assets/leaf_backdrop.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Discover. Save. Read. Share.</h1>
              <h3>The internet is polluted with top ten lists and advertisements. Let LEAf help you discover real/substantiated content, build a refuge for the articles you want to read and create a sanctuary for the videos you want to see.</h3>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Try us out</a> <h3> <!-- | <%= link_to "Login", log_in_path %> <h3></p> -->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
