<h1>Users</h1>

<div id="users_container">
	<ul id="users_list"></ul>
</div>

<script type="text/template" id='user_template'>
  
  <h3><%%= first_name %>  <%%= last_name %></h3>  
  <button data-action='follow'>
    Follow
  </button>
  <!-- //need to call App.Initializer.FolloweeCreate to create follower.  the listeners are already there to make the ajax call.  the problem is that no collection has been initiated server side through this view.  Sooo, maybe intialize a dummy followee collection on page load that will accept any new entries and send the correct post request through the followee controller, which then redirects to whatever page I want!!! Yayyyy  -->
</script>

<script>
	$(function(){

	  console.log("hello users");
	  var discoverable_users_with_user = <%== @discoverable_users_with_user.to_json %>;
	  var discoverable_users = discoverable_users_with_user.discoverable_users;
	  var user_id = discoverable_users_with_user.user_id;
	  App.Initializer.User(discoverable_users, user_id);

	  // not yet made into a Followee model
	  // $("button").on("click", function(){
	  	
	  // })

	});
</script>