

<div class="container marketing" id="followees_list">
</div>
<script type="text/template" id='followee_template'>
<div class= "col-xs-6">
  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
  <p><%%= first_name %> <%%= last_name %></p>
  <form action=<%%= "../../users/" + id + "/articles" %> method="GET">
    <input type="submit" value="Reading">
  </form>   
  <button data-action="delete">
    UnFollow 
  </button>
</div>

</script>

<script>
	$(function(){
	  console.log("hello followees");
	  var followees_with_user = <%== @followees_with_user.to_json %>;  
	  App.Initializer.Followee(followees_with_user.followees, followees_with_user.user_id);
	});
</script>