
<div class="container marketing" id="followers_list">
</div>

<script type="text/template" id='follower_template'>
  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
  <p><%%= first_name %> <%%= last_name %></p>
  <button data-action="reading">
    Reading 
  </button>    
  <button data-action="delete">
    Delete 
  </button>
</div>
</script>

<script>
	$(function(){
	  console.log("hello followers");
	  var followers_with_user = <%== @followers_with_user.to_json %>;  
	  App.Initializer.Follower(followers_with_user.followers, followers_with_user.user_id);
	});
</script>