<h1>Posts</h1>
 
<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      <blockquote>
        <p><%= post.subject %></p>
        <small><%= post.body%></small>
      	<small><%= post.body%></small>
      </blockquote>
    <% end %>
<% else %>
  <p><em>Oops, doesn't look like there are any posts yet.</em></p>
<% end %>