<h1>Emails</h1>
 
<% if @emails.count > 0 %>
    <% @emails.each do |email| %>
      <blockquote>
        <p><%= email.body %></p>
        <small><%= email.email %></small>
      </blockquote>
    <% end %>
<% else %>
  <p><em>Oops, doesn't look like there are any emails yet.</em></p>
<% end %>